/**** BEGIN REJECTION STYLE ****/
.rejection-input-wrapper
{
	padding:15px 0px 15px 0px;
	display:flex;
}
.rejection-input-wrapper input
{
	width:45px;
	height:2.2em;
	min:"1";
}
.rejection-text
{
	float:left;
}
.rejection-boxes
{
	padding-left:.2em;
}
.rejection-legend
{
	padding-left:.2em;
}
.rejection-output-wrapper
{
	height:4em;
}
/**** END REJECTION STYLE ****/

